* {
    box-sizing: border-box;
}

.game-time {
    font-family: "Courier New";
    font-weight: bold;
    font-size: 1.4em;
    width: 4.2em;
    display: inline-block;
    /* display: inline; */
}

.App {
    height: 100vh;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
}
.App button {
    padding: 0.2em 0.4em;
    border-radius: 0.4em;
    border: 1px solid gray;
    box-shadow: 3px 3px 4px 0px #ebebeb;
    font-size: 1em;
    margin: 0.1em 0.3em 0.7em 0.3em;
    width: 4.4em;
    transition: all 0.4s;
    outline: none;
}
.App button:hover {
    cursor: pointer;
    background-color: #d4d4d4;
}
.App button:focus {
    border-color: black;
}


.App header {
    /* font-family: "Courier New"; */
    background-color: #841819;
    /* height: 5.3em; */
    padding: 0.5em 1em;

    font-size: 1.3em;
    color: #FEF5F4;
}
.App header span:first-child { margin-right: 0.7em; }
.App main {
    flex: 1 1 auto;
    color: #282c34;
    padding: 1em;
}

.App-link {
  color: #61dafb;
}
