.timed-event {
    border: 1px solid gray;
    background-color: #DDFCC1;
    padding: 0.4em 0.8em;
    margin: 2px;
    transition: all 1.0s;
}
.timed-event strong {
    font-size: 1.1em;
    display: block;
}
.timed-event.near { background-color: #FAE4AD; }
.timed-event.critical { background-color: #F1A47F; }
.timed-event.past { background-color: #E9E8E7; }

.game-time {
    font-family: "Courier New";
    /* display: inline; */
}

.App {
    height: 100vh;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
}


.App header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App header span:first-child { margin-right: 1em; }
.App footer {
    background-color: #282c34;
    min-height: 10vh;
}
.App main {
    flex: 1 1 auto;
    color: #282c34;
    padding: 1em;
}

.App-link {
  color: #61dafb;
}
